@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fcfcfc;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  height: 100vh;

}

/* Navigation */
.nav {
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.nav ul {
  padding: 20px 20px;
  margin: 0;
  font-size: 17px;
}

a {
  text-decoration: none;
}

.nav-item a {
  color: rgba(0, 0, 0, 0.9);
}

.nav-setting a {
  color: rgba(0, 0, 0, 0.5);
}

.nav i {
  padding: 20px 20px;
}

.nav ul {
  list-style: none;
}

.nav-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item li .circle-num {
  width: 30px;
  height: 30px;
  background: #bab2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 13px;
  color: white;
  font-weight: bold;
  margin-right: 20px;
}

.nav-setting {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-header {
  padding: 20px 20px;
  font-size: 21px;
}

.nav-header .logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}

.nav-header img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* Avatar */
.content {
  margin: 0 35px;
  display: grid;
  grid-template-rows: 1.3fr 6fr 6fr;
}

.avatar i {
  padding-right: 5px;
}

.avatar p:nth-child(2) {
  font-weight: bold;
  font-size: 13px;
}

.avatar p:nth-child(3) {
  color: gray;
}

/* Content TOP BAR */
.content .user-bar {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  padding-top: 10px;  
}

.content .user-bar .avatar {
  font-size: 13px;
  position: relative;
}

.content .user-bar .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.content .user-bar .avatar p {
  line-height: 10px;
}

.fa-ellipsis-v {
  position: absolute;
  top: 25px;
  left: 60%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.content .user-bar .search {
  position: relative;
}
.content .user-bar .search input {
  line-height: 30px;
  margin-top: 10px;
  border-radius: 40px;
  padding: 5px 30px;
  width: 350px;
  border: 1px solid gray;
  outline: none;
}

.search i {
  position: absolute;
  top: 22px;
  right: 33%;
  color: gray;
}

.content .user-bar .icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 23px;
  padding-right: 20px;
}

.content .user-bar .icon i {
  color: #bab2ff;
  font-size: 23px;
}

/* Content TOP GRAPH */
.content .top {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 20px;
}

img {
  width: 900px;
  height: 350px
}

.content .top .social-media-traffic, 
.content .top .graph,
.bottom .user-stats {
  background: #fff;
  padding: 15px 20px;
  color: #8b7eff;
  font-size: 13px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 10px; */
  font-size: 14px;
}

.select-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  border: none;
  background: inherit;
  -webkit-appearance: none;
  color: #c5c5c5;
  font-weight: bold;
}

.arrow-down {
  width: 0; 
  height: 0;  
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #cacaca;
}

/* Content TOP SOCIAL MEDIA */

.mon-sec {
  color: #9793b8;
  
}
.mon-bar {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.mon-bar span {
  position: relative;
}

.mon-bar span i::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  height: 3px;
}

.mon-bar span:nth-child(1) i::before {
  background: #9061ff;
}

.line1::before {
  width: 100px;
}

.line2::before {
  width: 150px;
}

.line3::before {
  width: 60px;
}

.mon-bar span:nth-child(2) i::before {
  background: #ff619c;
}

.line4::before {
  width: 90px;
}

.line5::before {
  width: 75px;
}

.line6::before {
  width: 170px;
}

.mon-bar span:nth-child(3) i::before {
  background: #ff9b4e;
}

.line7::before {
  width: 50px;
}

.line8::before {
  width: 60px;
}

.line9::before {
  width: 70px;
}

/* Content BOTTOM USER STATS */
.content .bottom {
  margin: 10px 0;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-gap: 20px;
}

.user-stats .table-user {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 80%;
  font-size: 15px;
  color: #777891;
}

.table-user div {
  display: grid;
  grid-template-columns: 2fr 2fr 1.3fr 1fr 1fr;
  
}

.table-user div span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

.table-user div:nth-child(1) span {
  font-weight: normal;
}

.table-user span img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.table-user .pre {
  background: #887bff;
  border-radius: 50px;
  padding: 5px 10px;
  color: white;
}

.table-user .pre.org {
  background: #ffb07b;
}

.table-user .open {
  color: #887bff;
}

.table-user .closed {
  color: rgba(0, 0, 0, 0.2);
}

.table-user .toggle {
  width: 40px;
  height: 10px;
  background: #d0cbff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.table-user .toggle::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0;
  width: 23px;
  height: 23px;
  background: #887bff;
  border-radius: 50%;
}

.table-user .off {
  background: rgba(0, 0, 0, .1);
}

.table-user .off.toggle::before  {
  left: 0;
  background: lightgray;
}

/* Content BOTTOM REVENUE */

.content .bottom .revenue {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.box {
  border-radius: 13px;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.content .bottom .revenue div {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.revenue div p {
  position: absolute;
  top: -30px;
  right: 10px;
  font-size: 50px;
  font-weight: bold;
  opacity: 0.2;
}

.revenue div p span {
  font-size: 20px;
  font-weight: 300;
}

.content .bottom .revenue .money {
  font-size: 30px;
  padding: 0;
  font-weight: bold;
  opacity: .8;
}

.content .bottom .revenue .mo {
  opacity: .4;
}

.content .bottom .revenue div:first-child {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(143,10,184,1) 0%, rgba(70,0,255,0.875770376509979) 100%);
  opacity: .6;
}

.content .bottom .revenue div:nth-child(2) {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,181,64,1) 0%, rgba(231,113,19,0.875770376509979) 100%);
  opacity: .8;
}

.content .bottom .revenue div:nth-child(3) {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,82,193,1) 0%, rgba(27,169,221,0.875770376509979) 100%);
  opacity: .8;
}

.top img {
  background-size: cover;
}

.revenue {
  color: white;
}