* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background_1920.jpg");
  font-family: 'Oxygen', sans-serif;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: rbga(0,0,0,.7);
}

.bg-blur {
  background-color: rbga(0,0,0,.7);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(43,41,41,0.7);
}

.logo {
  color: #001AFF;
  letter-spacing: 5px;
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1280px) {
  body {
    background-size: url("../images/background_1280.jpg")
  }

  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    background-image: url("../images/background.jpg");
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(43,41,41,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.about {
  color: #fff;
  margin: 0 auto;
  padding: 20vh 5vw;
}

.about div:nth-of-type(1) {
  font-size: calc(3vw + 1.5vh);
  align-self: center;
  line-height: calc(3vw + 2vh);
  margin-bottom: calc(2.5vw + 1.7vh);;
  
}

.about div:nth-of-type(1) span {
  color: #001AFF;
  font-weight: bold;
}

.about div:nth-of-type(2) {
  font-size: calc(1.3vw + 1.3vh);
  line-height: calc(1.7vw + 1.7vh);
}

form {
  margin-top: 40px;
}

form button {
  color: #001AFF;
  font-size: calc(1.3vw + 1.5vh);
  background-color: rgba(255,255,255,.1);
  border: none;
  line-height: calc(3vw + 2.7vh);
  padding: 10px;
  border-radius: 10px;
}
button:visited {
  color: red;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: black;
}

button:active {
  color: #fff;
  background-color: black;
}